@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

::-webkit-input-placeholder {
   color: rgba(black, 0.5);
}

::-moz-placeholder {
   color: rgba(black, 0.5);
}

app {
  tbody {
    tr:hover {
      background: #fafafa;
    }

    tr {
      &.medium {
        background: #FFECB3;
        &:hover {
          background: darken(#FFECB3, 3);
        }
      }
      &.high {
        background: #FFCDD2;
        &:hover {
          background: darken(#FFCDD2, 3);
        }
      }
      &.over {
        background: #EF9A9A;
        &:hover {
          background: darken(#EF9A9A, 3);
        }
      }
      &.empty-estimate td.md-cell {
        color: #AAA;
      }
    }
  }

  .search-input {
    background: none;
    outline: 0;
    width: 100%;
    margin: 0;
    border: none;
    color: black;
  }

  .no-estimate {
    color: #AAA;
  }
}
