doctype html
div(layout="column" style="height: 100vh; overflow: auto")
  md-toolbar.md-whiteframe-1dp
    .md-toolbar-tools
      div(flex ng-if="!search.toggle")
        .md-title Czy Sie Oplaca
      md-button.md-icon-button(ng-click="search.toggle = true")
        md-icon search
      div(ng-if="search.toggle" layout="row" flex)
        input.search-input(type="text" autofocus flex="1" ng-model="search.query" ng-change="$ctrl.resetPagination()" placeholder="search")
        md-button.md-icon-button(ng-click="search.toggle = false; search.query = ''")
          md-icon close
      div
        md-checkbox.show-not-estimated(ng-model="$ctrl.localSettings.showNotEstimated" aria-label="checkbox") Show not estimated
      settings(settings="$ctrl.settings" local-settings="$ctrl.localSettings")
  md-content(flex layout-padding)
    md-card
      md-table-container
        table(md-table md-progress="$ctrl.promise")
          thead(md-head md-order="$ctrl.orderBy" md-on-reorder="$ctrl.resetPagination")
            tr(md-row)
              th(md-column md-order-by="projectKey") Project Key
              th(md-column md-order-by="name") Name
              th(md-column md-numeric md-desc md-order-by="budget") Progress
              th(md-column md-order-by="releaseDate") Deadline
              th(md-column md-numeric md-desc md-order-by="timespent['{{ group }}']" ng-repeat="group in $ctrl.groups")
                md-tooltip {{ group }}
                | {{ group | limitTo: 8 }}
                span(ng-show="group.length > 8") ...
              th(md-column md-numeric md-desc md-order-by="totalTimespent") Total
          tbody(md-body)
            tr(md-row
               ng-repeat="version in $ctrl.versions | filter: search.query | orderBy: $ctrl.orderBy | limitTo: $ctrl.limit: ($ctrl.page - 1) * $ctrl.limit"
               ng-if="version.isEstimated || $ctrl.localSettings.showNotEstimated"
               ng-class="{ 'high': version.budget > 80, 'over': version.budget > 100, 'empty-estimate' : !version.isEstimated}")
              td(md-cell): a.md-button(href="//{{ $ctrl.jiraHost }}/browse/{{ version.projectKey }}" target="_blank") {{ version.projectKey }}
              td(md-cell)
                md-icon(ng-show="version.released") done
                md-icon(ng-show="version.archived") delete
                | {{ version.name }}
              td(md-cell) {{ version.budget }}%
              td(md-cell ng-class="{ 'overDeadline': version.isOverDeadline }") {{ version.releaseDate }}
              td(md-cell ng-repeat="group in $ctrl.groups" ng-click="$ctrl.editEstimate($event, version, group)")
                span() {{ version.timespent[group] }} / {{ version.estimate[group] === undefined || version.estimate[group] === '' ? '-' : version.estimate[group] }}
              td(md-cell) {{ version.totalTimespent }} / {{ version.totalEstimate >= 0 ? version.totalEstimate : '-' }}
      md-table-pagination(md-limit-options="[15,25,50,100]" md-limit="$ctrl.limit" md-page="$ctrl.page" md-total="{{($ctrl.versions | filter: search.query).length}}")
