md-dialog
    md-toolbar.md-whiteframe-1dp
        .md-toolbar-tools
            div(flex)
                .md-title {{ $ctrl.version.name }} {{ $ctrl.version.id }}
            md-button.md-icon-button(ng-click="$ctrl.close()")
                md-icon close
    md-dialog-content(layout-padding)
        md-table-container
            table(md-table)
                thead(md-head md-order="$ctrl.orderBy" md-on-reorder="$ctrl.resetPagination")
                    tr(md-row)
                        th(md-column md-order-by="group")
                        th(md-column md-numeric md-desc  md-order-by="budget") Budżet (zł)
                        th(md-column md-numeric md-desc md-order-by="timespent") Godziny (zrealizowane/szacowane)
                        th(md-column md-numeric md-desc  md-order-by="costsINT") Koszty wewnętrzne (zł)
                        th(md-column md-numeric md-desc  md-order-by="costsEXT") Koszty zewnętrzne (zł)
                        th(md-column md-numeric md-desc  md-order-by="costsDelta") &Delta; (zł)
                tbody(md-body)
                    tr.total-row(md-row)
                        td(md-cell) <b>Total</b>
                        td(md-cell) {{ $ctrl.version.total_budget >= 0 ? $ctrl.version.total_budget : '-' }}
                        td(md-cell) {{ $ctrl.version.total_timespent }}&nbsp;/&nbsp;{{ $ctrl.version.total_hours >= 0 ? $ctrl.version.total_hours : '-' }}
                        td(md-cell) {{ $ctrl.version.total_timespentCosts >= 0 ? $ctrl.version.total_timespentCosts : '-' }}
                        td(md-cell) {{ $ctrl.version.total_costsEXT >= 0 ? $ctrl.version.total_costsEXT : '-' }}
                        td.budget-icon(md-cell)
                            md-icon(ng-show="$ctrl.version.total_budgetLeft > 0" style="color: green") monetization_on
                            md-icon(ng-show="$ctrl.version.total_budgetLeft <= 0" style="color: red") money_off
                            | {{ $ctrl.version.total_budgetLeft !== undefined ? $ctrl.version.total_budgetLeft : '-' }}
                    tr(md-row
                    ng-repeat="group in $ctrl.activeGroups")
                        td(md-cell) {{ group }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, group, 'budget')")
                            span() {{ $ctrl.version.groupsData['budget'][group] !== undefined ? $ctrl.version.groupsData['budget'][group] : '-' }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, group, 'hours')")
                            span() {{ $ctrl.version.timespent[group] }}&nbsp;/&nbsp;{{ $ctrl.version.groupsData['hours'][group] > 0 ? $ctrl.version.groupsData['hours'][group] : '-' }}
                        td(md-cell)
                            span() {{ $ctrl.version.groupsData['timespentCosts'][group] > 0 ? $ctrl.version.groupsData['timespentCosts'][group] : '-' }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, group, 'costsEXT')")
                            span() {{ $ctrl.version.groupsData['costsEXT'][group] > 0 ? $ctrl.version.groupsData['costsEXT'][group] : '-' }}
                        td.budget-icon(md-cell)
                            md-icon(ng-show="$ctrl.version.groupsData['budgetLeft'][group] > 0" style="color: green") monetization_on
                            md-icon(ng-show="$ctrl.version.groupsData['budgetLeft'][group] <= 0" style="color: red") money_off
                            | {{ $ctrl.version.groupsData['budgetLeft'][group] !== undefined ? $ctrl.version.groupsData['budgetLeft'][group] : '-' }}
