md-dialog
    md-toolbar.md-whiteframe-1dp
        .md-toolbar-tools
            div(flex)
                .md-title {{ $ctrl.version.name }} {{ $ctrl.version.id }}
            md-button.md-icon-button(ng-click="$ctrl.close()")
                md-icon close
    md-dialog-content(layout-padding)
        md-table-container
            table(md-table)
                thead(md-head md-order="$ctrl.orderBy" md-on-reorder="$ctrl.resetPagination")
                    tr(md-row)
                        th(md-column md-order-by="name")
                        th(md-column md-numeric md-desc  md-order-by="budget") Budżet (zł)
                        th(md-column md-numeric md-desc md-order-by="timespent") Godziny (zrealizowane/szacowane)
                        th(md-column md-numeric md-desc  md-order-by="timespentCosts") Koszty wewnętrzne (zł)
                        th(md-column md-numeric md-desc  md-order-by="costsEXT") Koszty zewnętrzne (zł)
                        th(md-column md-numeric md-desc  md-order-by="budgetLeft") &Delta; (zł)
                tbody(md-body)
                    tr.total-row(md-row)
                        td(md-cell) <b>Total</b>
                        td(md-cell) {{ $ctrl.version.total_budget >= 0 ? $ctrl.version.total_budget : '-' }}
                        td(md-cell) {{ $ctrl.version.total_timespent }}&nbsp;/&nbsp;{{ $ctrl.version.total_hours >= 0 ? $ctrl.version.total_hours : '-' }}
                        td(md-cell) {{ $ctrl.version.total_timespentCosts >= 0 ? $ctrl.version.total_timespentCosts : '-' }}
                        td(md-cell) {{ $ctrl.version.total_costsEXT >= 0 ? $ctrl.version.total_costsEXT : '-' }}
                        td.budget-icon(md-cell)
                            md-icon(ng-show="$ctrl.version.total_budgetLeft > 0" style="color: green") monetization_on
                            md-icon(ng-show="$ctrl.version.total_budgetLeft <= 0" style="color: red") money_off
                            | {{ $ctrl.version.total_budgetLeft !== undefined ? $ctrl.version.total_budgetLeft : '-' }}
                    tr(md-row
                    ng-repeat="data in $ctrl.tableData | orderBy: $ctrl.orderBy")
                        td(md-cell) {{ data.name }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, data.name, 'budget')")
                            span() {{ data.budget > -1 ? data.budget : '-' }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, data.name, 'hours')")
                            span() {{ data.timespent }}&nbsp;/&nbsp;{{ data.hours > -1 ? data.hours : '-' }}
                        td(md-cell)
                            span() {{ data.timespentCosts > -1 ? data.timespentCosts : '-' }}
                        td(md-cell ng-click="$ctrl.editGroupData($event, data.name, 'costsEXT')")
                            span() {{ data.costsEXT > -1 ? data.costsEXT : '-' }}
                        td.budget-icon(md-cell)
                            md-icon(ng-show="data.budgetLeft > 0" style="color: green") monetization_on
                            md-icon(ng-show="data.budgetLeft <= 0" style="color: red") money_off
                            | {{ data.budgetLeft !== undefined ? data.budgetLeft : '-' }}
