md-dialog
  md-toolbar.md-whiteframe-1dp
    .md-toolbar-tools
      .md-title Ustawienia
  md-dialog-content(layout-padding)
    md-divider Ustawienia lokalne
      md-subheader Kosztorysy i estymacje
        p: md-checkbox(ng-model="$ctrl.localSettings.isEditEnabled" aria-label="checkbox") zezwalaj na zmiany
      md-subheader Wersje projektów
        p: md-checkbox(ng-model="$ctrl.localSettings.hideNotEstimated" aria-label="checkbox") ukryj nieoszacowane
    div(ng-if="$ctrl.userRole === 1")
      md-divider Ustawienia globalne (ma wpływ na wszystkich użytkowniów aplikacji)
      md-subheader Aktywne grupy i stawki
      md-table-container
        table(md-table)
          thead(md-head md-order="$ctrl.orderBy" md-on-reorder="$ctrl.resetPagination")
            tr(md-row)
              th(md-column)
              th(md-column)
              th(md-column) Stawka godzinowa
          tbody(md-body)
            tr(md-row
            ng-repeat="(group, value) in $ctrl.settings.groups")
              td(md-cell)
                md-checkbox(ng-model="$ctrl.settings.groups[group]" ng-disabled="$ctrl.isSubgroup(group)" aria-label="checkbox")
              td(md-cell ng-click="!$ctrl.isSubgroup(group) ? $ctrl.settings.groups[group] = !$ctrl.settings.groups[group] : null")
                span() {{ group }}
              td(md-cell ng-click="$ctrl.editWage($event, group)")
                span() {{ $ctrl.getCurrentWage(group) || '-' }}
  md-dialog-actions
    md-button(ng-click="$ctrl.close()") Anuluj
    md-button.md-primary(ng-click="$ctrl.save()") Zapisz
